.empty{
    text-align: center;
    color: var(--primary-color);
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.empty > div:last-child{
    font-size: 50px;
    color: var(--secondary-color);
    text-transform: capitalize;
}