nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  gap: 20px;
}
nav ul li {
  list-style: none;
  word-spacing: 5px;
  display: flex;
  align-items: center;
  position: relative;

}
nav ul li svg {
  height: 100%;
  padding-top: 1px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: var(--secondary-color);
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  text-shadow: 2px 2px 4px black;
}
.link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;

  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
}
.link:hover::after {
  width: 100%;
}

.link.active {
  color: var(--primary-color);
}

@media screen and (max-width: 991.98px) {
  .navLinks{
    display: none;
  }
}
