.headings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--secondary-color);
}

.heading div {
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.heading span {
  color: var(--secondary-color);
}

.cartPage > div {
  opacity: 0.5;
}
.cartPage > div:first-child {
  opacity: 1;
}

.checkoutPage > div:first-child {
  color: #53eb86;
  border-bottom-color: #53eb86;
}

.checkoutPage > div:first-child > span {
  color: #53eb86;
}
.checkoutPage > div:first-child > div {
  background-color: #53eb86;
  color: var(--third-color);
}

.checkoutPage > div:last-child {
  opacity: 0.5;
}

.orderCompletePage > div:first-child,
.orderCompletePage > div:nth-child(2) {
  color: #53eb86;
  border-bottom-color: #53eb86;
}
.orderCompletePage > div:first-child > span,
.orderCompletePage > div:nth-child(2) > span {
  color: #53eb86;
}
.orderCompletePage > div:first-child > div,
.orderCompletePage > div:nth-child(2) > div {
  background-color: #53eb86;
  color: var(--third-color);
}
