.footer {
  background-color: var(--third-color);
  min-height: 40vh;
  position: relative;
  display: flex;
}

.footer::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--black-section-overlay);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.footer > div:first-child {
  z-index: 2;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 40vh;
  gap: 60px;
}
.footer > div:first-child > div:first-child {
  gap: 20px;
  flex-wrap: wrap;
}
.footerPart {
  width: calc(25% - 15px);
  height: 150px;
}

.footerPart h1 {
  font-family: "Ethnocentric";
  letter-spacing: 3px;
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 25px;
  padding: 10px 0px;
  margin: 0;
  transition: 0.5s ease;
  transform: translateX(0px);
}

.footerPart h1::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 10%;
  left: 0%;
}


.footerPart div {
  color: var(--secondary-color);
  font-size: 18px;
}

.copyRights {
  color: var(--secondary-color);
  border-top: 1px solid var(--primary-color);
  padding: 10px;
  width: 90%;
}
.copyRights div span {
  color: var(--primary-color);
}
.copyRights div svg {
  transition: 0.3s ease;
}
.copyRights div svg:hover {
  color: var(--primary-color);
  cursor: pointer;
}
@media (min-width: 992px) {
  .footerPart h1 {
    font-size: 22px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footerPart {
    width: calc(50% - 15px);
    padding-top: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .footerPart {
    width: calc(50% - 15px);
    padding-top: 20px;
  }
}
@media (max-width: 575.98px) {
  .footerPart {
    width: calc(100% - 15px);
    padding-top: 20px;
  }

  .copyRights {
    width: 100%;
  }
}
